:root {
  --primary-dark: #2e2f42;
  --primary-text: #434455;
  --secondary-buttons: #e7e9fc;
  --brand-color: #4d5ae5;
  --backgound-light: #f4f4fd;
  --active-state: #404bbf;
  --primary-font-size: 16px;
}

body {
  font-family: 'Roboto', 'Raleway', 'sans-serif';
  color: var(--primary-text);
  font-size: var(--primary-font-size);
  line-height: 1.5;
  letter-spacing: 0.02em;
}



address{
  font-style: normal;
}

.link{
  text-decoration: none;
}

.list{
  list-style-type: none;
}

/* header */

.logo {
  color: var(--primary-dark);
  font-family: 'Raleway', 'sans-serif';
  font-weight: 800px;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-item {
  color: var(--brand-color);
}

.navigation-list {
  font-weight: 500;
  font-size: var(--primary-font-size);
 
}


.navigation-link{
  color: var(--primary-dark);
}

.navigation-link:hover,
.navigation-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--brand-color);
  outline: none;
}

.active-link {
  color: var(--brand-color);
}

.contacts-list {
  color: var(--primary-text);
  font-size: var(--primary-font-size);
}

.contacts-link {
  color: var(--primary-text);
}

/* main */

.main-section {
  background-color: var(--primary-dark);
}

.main-section-heading {
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
}

.main-section-button {
  color: #fff;
  font-family: inherit;
  background-color: var(--brand-color);
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: var(--primary-font-size);
  line-height: 1.5;
}

.main-section-button:hover,
.main-section-button:focus {
  background-color: var(--active-state);
  outline: none;
}

/* section 1 */

.about-section-heading {
  color: var(--primary-dark);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

/* section 2 */

.specification-section-header {
  color: var(--primary-dark);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.111;
}

/* section 3 */

.worker-section {
  background-color: var(--backgound-light);
}

.worker-section-item {
  background-color: #fff;
}

/* footer */

.footer-container {
  background-color: var(--primary-dark);
}

.footer-logo {
  color: var(--backgound-light);
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.101;
}

.footer-text {
  color: var(--secondary-buttons);
}

/* PORTFOLIO */

.buttons-list {
  color: var(--brand-color);
  font-weight: 500;
  font-size: var(--primary-font-size);
  line-height: 1.5;
}

.buttons-list-item {
  color: var(--brand-color);
  font-family: inherit;
  background-color: var(--backgound-light);
  border: 1px solid;
  border-color: var(--secondary-buttons);
  font-weight: 500;
  font-size: var(--primary-font-size);
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.buttons-list-item:hover,
.buttons-list-item:focus {
  color: #fff;
  background-color: var(--brand-color);
  outline: none;
}

.cards-list-heading {
  color: var(--primary-dark);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

.cards-list {
  color: var(--primary-text);
  font-size: var(--primary-font-size);
  line-height: 1.5;
}

.cards-list-item {
  border: 1px solid var(--secondary-buttons);
}
